.clear-fix {
  clear: both;
}

* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside;
}

body {
  background-color: white;
}
#top-bar {
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}
#tjay-name {
  max-width: 250px;
}
#bottom-box {
  height: 100px;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
}
#left-side-block {
  display: inline-block;
  max-width: 33%;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}
#center-block{
  display: inline-block;
  max-width: 33%;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}
#right-side-block {
  display: inline-block;
  float: right;
  max-width: 33%;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}
#tjay-status{
  width: 75%;
  text-align: center;
}
#reverbnation-player{
  width: 60%;
}
#twitter-timeline{
  width: 50%;
}
h1{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  background-color: #888;
  opacity: 0.8;
  border: 3px solid black;
  border-radius: 10px;
  max-width: 60%;
  margin: auto;
  font-style: italic;
}
h2{
  text-align: center;
  background-color: #888;
  opacity: 0.8;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

p{
  font-family: 'Raleway', sans-serif;
  background-color: #888;
  opacity: 0.8;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#link-div {
  text-align: center;
}
#fb-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}
#twitter-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#gh-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#li-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#rn-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#twitch-icon {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#mystery-box {
  max-height: 50px;
  max-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
#logo{
  height: 60px;
  width: 75px;
}
#sls-logo{
  width: 60%;
}
#gl5-logo{
  width: 60%;
}
#gls-video{
  width: 60%;
  height: 315px;
}
a {
  color: black;
}
