.App {
  text-align: center;
  margin: auto;
}

body{
  height: 100%;
  background-image: url('../images/bg.png');
  background-repeat: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #222;
  text-align: center;
}

.App-header {
  padding: 0;
}

 .TJay-logo { 
  width: 100%;
}

.App-bottom-div {
  height: 6%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: .75em;
  color: #777;
}


