body {
  background-color: #444;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#top-bar{
  height: 5%;
  background-color: #000;
  top: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
}

#headline{
  width: 100%;
  top: 0;
  text-align: center;
}

#content-div{
  z-index: 0;
  height: 100%;
  width: 75%;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 0;
}

#top-content-div{
  text-align: center;
  padding-top: 10%;
}

#show{
  margin-top: 5%;
  border: 2px #222 solid;
  background-color: #444;
  font-size: 2em;
}

#bottom-content-div{
  text-align: center;
  padding-bottom: 10%;
}

#bottom-bar{
  height: 8%;
  background-color: #000;
  bottom: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
  padding: 10px;
}

button{
  width: 75%;
  border: none;
  background-color: Transparent;
  opacity: .8;
  display: inline-block;
  transition: all 0.3s ease 0s;
  color: #fff;
  font-family: 'Bowlby One SC', cursive;
  font-size: 4em;
}
button:hover{
  opacity: 1;
  -webkit-animation-name: fadeIn;
}
