body{
    background-image:url('../assets/TJAYAxeBG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    margin: auto;
}

p{
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

#music-player{
    margin-left: auto;
    width: 0px;
    min-width:100%;
    max-width:960px;
}

#top-bar{
    background-color: #000;
    height: 75px;
}

#top-buffer{
    height: 125px;
}

#main{
    height: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#title{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.hero{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.social{
    width: 100px;
    padding: 50px;
}

#logo{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#greysls{
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    text-align: center;
}

#bottom-buffer{
    height: 60px;
}

#bottom-bar{
    background-color: #000;
    height: 50px;
    bottom: 0px;
    position: fixed;
}