body {
  background-color: #444;
  background-image: url('../images/street.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#top-bar{
  height: 5%;
  background-color: #000;
  top: 0;
  position: fixed;
  z-index: 1;
  text-align: center;
}
#headline{
  width: 100%;
}
#bottom-bar{
  height: 8%;
  background-color: #000;
  bottom: 0;
  text-align: center;
  position: fixed;
  margin-top: 10px;
  z-index: 1;
  padding: 10px;
}
#content-div{
  z-index: 0;
  height: 100%;
  width: 75%;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 0;
}
#left-content-div{
  top: 0;
  width: 49%;
  background-color: red;
  display: inline-block;
}
#right-content-div{
  width: 49%;
  display: inline-block;
}
script{
  visibility: hidden;
}
#headline{
  top: 0;
  text-align: center;
}
li{
  display: inline;
  font-size: 4em;
}

a{
  color: white;
  text-decoration: none;
}
