@media only screen and (min-width: 1028px) {

  body {
    background-color: #444;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
  }

  #top-bar{
    height: 10%;
  }

  #headline{
    width: 75%;
  }

  #content-div{
    text-align: center;
  }

  #top-content-div{
    padding-top: 3%;
  }

  #show{
    width: 75%;
  }

  #bottom-content-div{
    display: inline;
  }
  button{
    width: 30%;
    display: inline-block;
    font-size: 2em;
  }
  li{
    font-size: 3em;
  }

  #nav-div{
    visibility: visible;
  }
  .icon-menu{
    visibility: hidden;
  }
  .hamburger-open{
    visibility: hidden;
  }
}
