*{
  margin: 0;
  padding: 0;
  width: 100%;
}
.clear-fix {
  clear: both;
}
.left{
  float: left;
}
.right{
  float: right;
}

script{
  visibility: hidden;
}
*:focus {
  outline: none;
}
a{
  color: #fff;
  text-decoration: none;
  -webkit-text-stroke: 2px black;
}
li{
  display: inline;
  font-size: 4em;
}
