@media only screen and (min-width: 721px) {

#headline{
  width: 85%;
}

body {
  background-color: #444;
  background-image: url('../images/street.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 85%;
}
#top-bar{
  height: 10%;
}

}
