@media only screen and (min-width: 1200px) {

  body {
    background-color: #444;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;
  }

  #headline{
    width: 50%;
  }

  #content-div{
    text-align: center;
  }

  #top-content-div{
    padding-top: 0;
  }

  #show{
    width: 50%;
    font-size: 1.5em;
  }

  #nav-div{
    visibility: visible;
  }

  button{
    width: 20%;
    font-size: 2em;
  }

  li{
    font-size: 4em;
  }

}
