@media only screen and (min-width: 1200px) {

#headline{
  width: 50%;
}

body {
  background-color: #444;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50%;
}
#top-bar{
  height: 10%;
}
li{
  font-size: 3em;
}
#content-div{
  padding-top: 100px;
  text-align: center;
}
#nav-div{
  visibility: visible;
}
.icon-menu{
  visibility: hidden;
}
.hamburger-open{
  visibility: hidden;
}
button{
  display: inline;
}
#show{
  border: 2px #222 solid;
  background-color: #444;
  font-size: 2em;
}
}
